input{
    width: 150px;
    height: 30px;
    margin: 10px;
}
form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;

}
form .button{
    border-radius: 5px;
    background-color: #3f51b5
}
